copy-csv.sh

.rake_test_cache
.DS_Store

###
# Ignore Chef key files and secrets
###
.chef
.chef/*.pem
.chef/knife.rb
.chef/encrypted_data_bag_secret
.kitchen
.kitchen.local.yml
Berksfile.lock
*~
.vagrant

vagrant-config.local.rb
Vagrantfile.local.rb

###
# Ignore Terraform state & modules
###
.terraform
*.tfstate*

*.box
*.vdi

.ruby-version
.python-version

# Brief list of binary files
#java binaries
*.jar
*.war
*.ear

# archives
*.tar
*.gz
*.bz2
*.xz
*.tgz
*.tbz2
*.txz
*.zip
*.7z
*.lzma
*.cab
*.rar
*.bzip

#executables
*.exe
*.bin
*.dll

#images
*.jpg
*.jpeg
*.gif
*.png

#packages
*.rpm
*.iso
*.dmg
*.app
*.deb
*.gem
*.egg
*.xpi
*.msi
*.msm
*.msp

#compiled binaries
*.rbc
*.py[cod]
*.so
*.mo
*.o
*.bs
*.a
*.out

#misc
*.mar
*.swp
*.phar
*.log
*.dmp
*.ami
*.tmp
*.bak
*.backup
*.pid
.idea
